.customer-review {
  width: min(87%, 69.5rem);
  padding: 5rem 0;

  @media only screen and (min-width: 60em) {
    padding-block-start: 7rem;
  }

  & .title-n-review {
    @media only screen and (min-width: 60em) {
      flex-direction: row;
    }
  }
  &__title {
    @media only screen and (min-width: 60em) {
      flex-basis: 50%;
      padding-inline-end: 4rem;
    }

    &--heading {
      @media only screen and (min-width: 60em) {
        padding-inline-end: 5rem;
      }
    }

    &--summary {
      margin-block-start: 2rem;

      @media only screen and (min-width: 60em) {
        margin-block-start: 1.5rem;
        padding-inline-end: 5rem;
      }
    }
  }

  &__ratings {
    margin-block-start: 2.5rem;
    gap: 1rem;
    @media only screen and (min-width: 60em) {
      width: 28rem;
      gap: 1.2rem;
    }

    & .rating {
      padding: 1rem 3rem;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      border-radius: 5px;

      @media only screen and (min-width: 60em) {
        padding-inline: 2rem;
        flex-direction: row;
        justify-content: start;
        gap: 2rem;
      }

      @media only screen and (min-width: 71.0625em) {
        padding-inline: 2rem;
        flex-direction: row;
        justify-content: start;
        gap: 2rem;

        &:first-of-type {
          margin-inline-start: 1rem;
          margin-inline-end: -1rem;
        }

        &:last-of-type {
          margin-inline-start: 7rem;
          margin-inline-end: -7rem;
        }
        &:nth-of-type(2) {
          margin-inline-start: 4rem;
          margin-inline-end: -4rem;
        }
      }

      & .star-rating {
        gap: 0.5rem;
      }
    }
  }

  &__custom-reviews {
    flex-direction: column;
    margin-block-start: 3rem;
    gap: 1rem;

    @media only screen and (min-width: 60em) {
      flex-direction: row;
      gap: 1.8rem;
    }
    @media only screen and (min-width: 71.0625em) {
      align-items: center;
    }

    &--user {
      width: max(100%, 21.7324375rem);
      padding: 2.5rem 2rem;
      padding-block-end: 1.9rem;
      border-radius: 0.5rem;
      gap: 1.5rem;

      @media only screen and (min-width: 60em) {
        &:first-of-type {
          padding-inline: 1.8rem;
        }

        &:nth-last-of-type(2),
        &:last-of-type {
          padding-inline: 2.4rem;
        }
      }
      @media only screen and (min-width: 71.0625em) {
        &:nth-of-type(2) {
          margin-block-start: 2rem;
        }
        &:last-of-type {
          margin-block-start: 4rem;
        }
      }

      & .user-details {
        align-items: center;
        gap: 1.5rem;
        & img {
          width: 2.5rem;
          aspect-ratio: 1;
          border-radius: 50%;
        }

        & .user {
          gap: 0.2rem;
          justify-content: center;
        }
      }
    }
  }
}
